html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

h2{
    font-size: 1.2rem;
}

body{
    background-image: url(../images/bg.svg);
    font-size: 14px;
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
    padding: 0;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    margin: 60px auto;
    max-width: 1170px;
}

.myinfo{
    background-color: white;
    box-shadow: 1px 1px 10px 1px lightgray;
    border-radius: 10px;
}

#name{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 900;
}

.name{
    margin: 20px;
}

.name p{
    font-size: 1em;
}

.profile-pic{
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.profile-pic img{
    max-width: 100%;
}

.info{
    border-left: 1px solid #5e5436;
    margin: 20px;
}

.info li{
    padding-bottom: 2rem;
    font-weight: 500;
}

#linkedIn{
    color: blue;
    padding-bottom: 0;
}

#linkedIn::before{
    margin-top: 3px;
}

.info span{
    color: grey;
    margin-left: 5px;
}

.info li::before{
    background: white;
    border: 2px solid #ffc500;
    border-radius: 50px;
    margin-left: -23.5px;
    width: 10px;
    height: 10px;
    font-size:10px;
    display:block;
    position: absolute;
    content: "";
}

.download-cv{
    text-align: center;
    margin: 2rem 4rem;
    background:#ffc500;
    padding: 0.6rem;
    border-radius: 30px;
    cursor: pointer;
}

.download-cv span {
    position:relative;
    bottom: 4px;
    float: right;
    background-color: white;
    border-radius: 50px;
    padding: 4px 7px;
}

.container{
    background-color: white;
    box-shadow: 1px 1px 10px 1px lightgray;
    border-radius: 10px;
}

.navbar{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    border-radius: 10px;
}

.left-nav{
    font-weight: 700;
}

.left-nav li, .right-nav li{
    float: left;
    line-height: 50px;
}

li{
    padding: 0 1rem;
    list-style: none;
}

.homebutton{
    background: #ffc500;
    line-height: 50px;
    height:100%;
    border-radius: 10px 0 0 10px;
    padding: 0 1.6rem;
    text-align: center;
}

.homebutton:hover{
    background: #ffb100;
    color: black;
    cursor: pointer;
}
.homebutton a:hover{
    color:black;
}

.tabs{
    margin: 0;
    padding: 0;
}

.tab a:hover{
    color: #ffc500;
    transition: all ease 0.2s;
}


a{
    color: black;
    text-decoration: none;  
}

#about-me{
    display: block;
}

.tabcontent{
    display: none;
}

.mail-me{
    background: #ffc500;
    padding: 10px;
    border-radius: 20px;
}

.mail-me:hover{
    color:black;
}

.mail-me i{
    background: white;
    margin-left: 5px;
    padding: 7px;
    border-radius: 50px;

}

.tab-content h2{
    text-decoration: underline 3px #ffb100;
}

.tab-content{
    margin: 2rem;
    text-align: justify;
    letter-spacing: 0.8px;
}

.tab-content p{
    padding-top: 0.8rem;
}

#company-title{
    font-weight: bold;
    text-transform: uppercase;
}

#date-period{
    float:right;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}
#working-role{
    margin-top: -1rem;
    font-style: italic;
    font-size: 0.9rem;
    color: rgb(0, 81, 255);
    font-weight: bold;
}
.working-role{
    font-weight: bold;
}

#working-role a{
    color:rgb(0, 81, 255)
}

#working-role i{
    margin-left: 0.5rem;
    color :rgb(0, 81, 255);
}

.tabcontent li{
    padding: 0.5rem;
    list-style-type:circle;
    margin-left: 2rem
}

#key-achievements{
    font-style: italic;
    font-size: 0.9rem;
    color: rgb(0, 81, 255);
    font-weight: bold;
}
